.ipsContactusLayoutContainer {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
  }
  .ipsContactusSubmissions {
    display: flex;
    align-items: center;
    width: 150px;
  }
  .ipsContactusFormLayoutContainer{
    max-width: 85% !important;
  }
