.ipsContactusSubmissions {
  display: flex;
  align-items: center;
  width: 170px;
  cursor: pointer;
}

.saveButton {
  margin-top: 1.4rem;
}

.ipsContactusFormLayoutContainer {
  max-width: 800px;
}

.ipsTabActive {
  color: #008060 !important;
  fill: var(--p-action-primary) !important;
}

.recaptchaHeadingContainer {
  display: flex;
  align-items: center;
}

.ipsAPISupportIcon {
  width: 15px;
  height: 15px;
  margin-left: 3px !important;
}
