/* .layoutContainer {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
  } */

/* .card {
    width: 250px;
  } */

.submissions {
  display: flex;
  align-items: center;
  width: 170px;
  cursor: pointer;
}

.saveButton {
  margin-top: 1.4rem;
}

.formLayoutContainer {
  max-width: 85%;
}

.active {
  color: #008060 !important;
  fill: var(--p-action-primary) !important;
}

.recaptchaHeadingContainer {
  display: flex;
  align-items: center;
}

.supportIcon {
  width: 15px;
  height: 15px;
  margin-left: 3px !important;
}
