.container {
  text-align: start;
  /* display: flex;
  align-items: center; */
}
.toggle-switch {
  position: relative;
  width: 86px;
  display: inline-block;
  text-align: left;
  top: 4px;
}
.checkbox {
  display: none;
}
.label {
  display: block;
  overflow: hidden;
  cursor: pointer;
  border: 0 solid #bbb;
  border-radius: 18px;
  margin-bottom: 0;
}
.inner {
  display: block;
  width: 200%;
  margin-left: -100%;
  transition: margin 0.3s ease-in 0s;
  font-size: 15px;
}
.inner:before,
.inner:after {
  float: left;
  width: 50%;
  height: 36px;
  padding: 0;
  line-height: 36px;
  color: #fff;
  font-weight: bold;
  box-sizing: border-box;
}
.inner:before {
  content: "Enable";
  padding-left: 5px;
  background-color: #008060;
  color: #fff;
}
.inner:after {
  content: "Disable";
  padding-right: 2px;
  background-color: #e81e1e;
  color: #fff;
  text-align: right;
}
.switch {
  display: block;
  width: 24px;
  margin: 6px;
  background: #fff;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 51px;
  border: 0 solid #bbb;
  border-radius: 24px;
  transition: all 0.3s ease-in 0s;
  height: 25px;
}
.checkbox:checked + .label .inner {
  margin-left: 0;
}
.checkbox:checked + .label .switch {
  right: 0px;
}
.switch-label {
  margin-left: 6px;
  margin-top: 12px;
}
