.label1{
    border-color: #EB1256;
  }
  /* textarea:focus{
    border: 1px solid rgb(99, 224, 255);
  } */
.checkbox-label {
  border-color: aqua;
}
#rc-anchor-container{
  position: absolute;
    bottom: 450px;
    left: 25px;
}
 .rc-anchor-pt{
  /* left: 15px !important; */
  right: 200px !important;
}