.ipsContactusLayoutContainer {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
}

/* .card {
    width: 250px;
  } */

.ipsContactusSubmissions {
  display: flex;
  align-items: center;
  width: 150px;
}

.ipsAPIMapFeildContainer {
  display: flex !important;
  align-items: center;
}

.ipsAPISupportIcon {
  width: 15px;
  height: 15px;
  margin-left: 3px !important;
}
