.ipsSubmissionModalHead {
  border-bottom: 1px dashed #dfe3e8;
  padding-bottom: 1.6rem;
  font-size: 1rem;
  font-weight: 600;
}
.resourceItem {
  flex: 1;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.dateTimeItem {
  max-width: 200px;
  text-align: right;
}
.isReadElement {
  font-weight: 600;
}
.ipsPaginationButton {
  display: flex;
  justify-content: flex-end;
  margin: 7px 15px;
  padding: 10px;
}
